.inform{
   font-size: 25px;
   color: rgb(3, 3, 3);
   margin: center;
   margin-top: 150px;
   text-align: center;
}

.inform2{
    font-size: 25px;
   color: rgb(2, 2, 2);
   margin: center;
   margin-top: 150px;
   text-align: center;




}
