body {
  background-color: black;}

.intro {
  font-size:20px;
  color: rgb(253, 253, 255);
  text-align: center;
  margin-top: 150px;

}

.name {
  font-size: 50px;
  color: rgba(18, 3, 228, 0.877);
  text-align: center;
  margin-top: 15px;
}

.obs {
  font-size: 18px;
  color: rgb(251, 254, 255);
  text-align: center;
  margin-top:10px;
}
.school {
  font-size: 15px;
  color: white;
  text-align: center;
  margin-top: 30px;
}
 .botoes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.saiba-mais, .em-breve {
	display: inline-block;
	background-color: #fff;
	color: #4B0082;
	padding: 10px 20px;
	border-radius: 25px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	font-weight: bold;
}

.em-breve {
	background-color: #8a5daa;
	color: #fff;
}

}



